<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="2.0">
    <persistence-unit name="import-data"
                      transaction-type="RESOURCE_LOCAL">
        <class>com.company.importdata.entity.ordermanagment.Customer</class>
        <class>com.company.importdata.entity.importer.ImportScenario</class>
        <class>com.company.importdata.entity.importer.ImportLogRecord</class>
        <class>com.company.importdata.entity.importer.ImportLog</class>
    </persistence-unit>
</persistence>
